#content {
  width: 860px;
  height: 100%;
  margin: 20px auto;
  box-sizing: border-box;
  padding: 40px;
  background: #eee;
  border: 1px #ccc solid;
  color: #000;
}
section {
  margin: 0 0 28px 0;
}
@media (max-width: 941px) {
  #content {
    margin: 20px 40px;
    padding: 40px calc(10px + (30 / 940 * 100vw));
    width: auto;
  }
}
@media (max-width: 541px) {
  #content {
    margin: 20px calc(40 / 540 * 100vw);
  }
}
body {
  background: #ddd;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  /* in the specific edge case that:
     * - there is a vertical scroll bar
     * - and the browser window is 941px + delta wide
     * - and delta < half the width of a browser scrollbar
     * - then let the browser scrollbar overlap page slightly
     * (which will look okay-ish because it only overlaps padding)
    */
  overflow-x: hidden;
}
a {
  color: #22c;
}
a:visited {
  color: #829;
}
h1,
h2 {
  padding: 0;
  font-family: serif;
}
h1 {
  margin: 0 0 20px;
}
h2 {
  margin: 20px 0 5px 0;
}
ul,
ol {
  margin: 8px 0;
  padding: 0 0 0 2em;
}
li {
  margin: 2px 0 2px;
}
p {
  margin: 15px 0 15px;
  padding: 0;
}
.code-block {
  display: block;
  margin: 15px 0;
  padding: 20px;
  background-color: #d3d3d3;
  border: 1px solid #ccc;
}
.code-block pre {
  white-space: pre-wrap;
}
#its-a-me {
  float: right;
  padding: 0;
  margin: 0 0 15px 15px;
  display: block;
  border: 1px solid #ccc;
}
#copyright {
  margin: 40px 0 10px 0;
  font-size: 12px;
  color: #333;
  text-align: right;
}
nav.top-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 10px 0;
}
nav.top-nav a {
  display: block;
  flex: 0 0 auto;
  font: bold 20px sans-serif;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #ccc;
  margin: 0 20px 5px 0px;
  text-decoration: none;
}
nav.under-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: end;
  margin: 0 0 10px 0;
}
nav.under-nav a {
  display: block;
  flex: 0 0 auto;
  font: bold 16px sans-serif;
  margin: 0 0 10px 0;
  text-decoration: none;
}
nav.under-nav a:after {
  content: "";
  display: block;
}
blockquote cite:before {
  content: "— ";
}
